In [3]:
import pandas as pd

df = pd.read_csv('glassdoor_jobs.csv')

In [5]:
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist co op (Spring/Summer 2023),$29.00 Per Hour(Employer est.),4.2,Johnson & Johnson,"Raritan, NJ",-1,-1,-1,-1,-1,-1,-1,-1
1,Jr. Data Scientist,$78K - $116K (Glassdoor est.),2.9,UMortgage,Remote,-1,-1,-1,-1,-1,-1,-1,-1
2,Data Scientist (Level I - II),$73K - $113K (Glassdoor est.),3.6,"BEN Group, Inc","Provo, UT",-1,-1,-1,-1,-1,-1,-1,-1
3,Data Scientist,$80K - $121K (Glassdoor est.),3.7,Big Fish Games,"Las Vegas, NV",-1,-1,-1,-1,-1,-1,-1,-1
4,Data Scientist - All Levels,$59K - $100K (Glassdoor est.),4.5,Interclypse Inc,"Reston, VA",-1,-1,-1,-1,-1,-1,-1,-1
5,Data Scientist,$81K - $117K (Glassdoor est.),3.6,PNC Financial Services Group,"Cleveland, OH",-1,-1,-1,-1,-1,-1,-1,-1
6,Customer Product Data Scientist,-1,3.4,Treehouse Foods,Remote,-1,-1,-1,-1,-1,-1,-1,-1
7,Junior Data Scientist,$80K - $117K (Glassdoor est.),4.2,Logistics Management Institute,"Camp Lejeune, NC",-1,-1,-1,-1,-1,-1,-1,-1
8,Data Scientist,$95K - $150K (Employer est.),5.0,Grey Matters Defense Solutions,"Englewood, CO",-1,-1,-1,-1,-1,-1,-1,-1
9,Data Scientist,-1,4.2,University of Florida,Florida,-1,-1,-1,-1,-1,-1,-1,-1
10,"Data Scientist, University Graduate (Data Anal...",$85K - $134K (Glassdoor est.),3.6,TikTok,"Los Angeles, CA",-1,-1,-1,-1,-1,-1,-1,-1
11,Data Scientist Co-Op (Spring 2023),$65K - $108K (Glassdoor est.),3.9,HERSHEY MX,"Hershey, PA",-1,-1,-1,-1,-1,-1,-1,-1
12,Data Visualization Scientist,$59K - $80K (Glassdoor est.),3.6,Optimal Inc.,"Dearborn, MI",-1,-1,-1,-1,-1,-1,-1,-1
13,Machine Learning Data Scientist,$82K - $117K (Glassdoor est.),4.2,HP,"Corvallis, OR",-1,-1,-1,-1,-1,-1,-1,-1
14,Data Scientist,$140K - $175K (Employer est.),-1.0,Spade,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1
15,Forensic Scientist Data Review I (NDOT),$44K - $70K (Glassdoor est.),3.8,Abbott Laboratories,"Gretna, LA",-1,-1,-1,-1,-1,-1,-1,-1
16,Decision Scientist,$86K - $119K (Glassdoor est.),4.9,KUNGFU.AI,"Austin, TX",-1,-1,-1,-1,-1,-1,-1,-1
17,Data Scientist,$81K - $130K (Glassdoor est.),5.0,Markesman Group,"Fort Meade, MD",-1,-1,-1,-1,-1,-1,-1,-1
18,Jr. Data Scientist,$69K - $108K (Glassdoor est.),-1.0,Tek Ninjas,"Dallas, TX",-1,-1,-1,-1,-1,-1,-1,-1
19,Data Scientist (Contract),$76K - $108K (Glassdoor est.),4.8,Audere,"Seattle, WA",-1,-1,-1,-1,-1,-1,-1,-1
20,Data Labeler - Contract,$20.00 - $25.00 Per Hour(Employer est.),4.8,EvolutionIQ,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1
21,Data Strategist,$72K - $103K (Glassdoor est.),4.2,Booz Allen Hamilton,"Bethesda, MD",-1,-1,-1,-1,-1,-1,-1,-1
22,Data Scientist,$87K - $141K (Glassdoor est.),3.9,WTW,"White Plains, NY",-1,-1,-1,-1,-1,-1,-1,-1
23,Data Scientist,$79K - $122K (Glassdoor est.),-1.0,Tek Ninjas,"Cincinnati, OH",-1,-1,-1,-1,-1,-1,-1,-1
24,Data Scientist,$60.00 - $75.00 Per Hour(Employer est.),3.5,Largeton Inc,Remote,-1,-1,-1,-1,-1,-1,-1,-1
25,Data Scientist,-1,-1.0,SWI,"Bellevue, WA",-1,-1,-1,-1,-1,-1,-1,-1
26,Data Scientist- 295013,$89K - $126K (Glassdoor est.),4.1,Grainger,"Lake Forest, IL",-1,-1,-1,-1,-1,-1,-1,-1
27,Biomedical Data Scientist,$74K - $121K (Glassdoor est.),3.2,Retia Medical,"White Plains, NY",-1,-1,-1,-1,-1,-1,-1,-1
28,Associate Data Scientist,-1,3.1,Dyson,"Chicago, IL",-1,-1,-1,-1,-1,-1,-1,-1
29,Data Scientist Apprentice,$61K - $97K (Glassdoor est.),3.9,Toyota,"Plano, TX",-1,-1,-1,-1,-1,-1,-1,-1

In [4]:
# Limpiar valores nulos / negativos (-1)
df = df[df['Salary Estimate'] != '-1']
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist co op (Spring/Summer 2023),$29.00 Per Hour(Employer est.),4.2,Johnson & Johnson,"Raritan, NJ",-1,-1,-1,-1,-1,-1,-1,-1
1,Jr. Data Scientist,$78K - $116K (Glassdoor est.),2.9,UMortgage,Remote,-1,-1,-1,-1,-1,-1,-1,-1
2,Data Scientist (Level I - II),$73K - $113K (Glassdoor est.),3.6,"BEN Group, Inc","Provo, UT",-1,-1,-1,-1,-1,-1,-1,-1
3,Data Scientist,$80K - $121K (Glassdoor est.),3.7,Big Fish Games,"Las Vegas, NV",-1,-1,-1,-1,-1,-1,-1,-1
4,Data Scientist - All Levels,$59K - $100K (Glassdoor est.),4.5,Interclypse Inc,"Reston, VA",-1,-1,-1,-1,-1,-1,-1,-1
5,Data Scientist,$81K - $117K (Glassdoor est.),3.6,PNC Financial Services Group,"Cleveland, OH",-1,-1,-1,-1,-1,-1,-1,-1
7,Junior Data Scientist,$80K - $117K (Glassdoor est.),4.2,Logistics Management Institute,"Camp Lejeune, NC",-1,-1,-1,-1,-1,-1,-1,-1
8,Data Scientist,$95K - $150K (Employer est.),5.0,Grey Matters Defense Solutions,"Englewood, CO",-1,-1,-1,-1,-1,-1,-1,-1
10,"Data Scientist, University Graduate (Data Anal...",$85K - $134K (Glassdoor est.),3.6,TikTok,"Los Angeles, CA",-1,-1,-1,-1,-1,-1,-1,-1
11,Data Scientist Co-Op (Spring 2023),$65K - $108K (Glassdoor est.),3.9,HERSHEY MX,"Hershey, PA",-1,-1,-1,-1,-1,-1,-1,-1
12,Data Visualization Scientist,$59K - $80K (Glassdoor est.),3.6,Optimal Inc.,"Dearborn, MI",-1,-1,-1,-1,-1,-1,-1,-1
13,Machine Learning Data Scientist,$82K - $117K (Glassdoor est.),4.2,HP,"Corvallis, OR",-1,-1,-1,-1,-1,-1,-1,-1
14,Data Scientist,$140K - $175K (Employer est.),-1.0,Spade,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1
15,Forensic Scientist Data Review I (NDOT),$44K - $70K (Glassdoor est.),3.8,Abbott Laboratories,"Gretna, LA",-1,-1,-1,-1,-1,-1,-1,-1
16,Decision Scientist,$86K - $119K (Glassdoor est.),4.9,KUNGFU.AI,"Austin, TX",-1,-1,-1,-1,-1,-1,-1,-1
17,Data Scientist,$81K - $130K (Glassdoor est.),5.0,Markesman Group,"Fort Meade, MD",-1,-1,-1,-1,-1,-1,-1,-1
18,Jr. Data Scientist,$69K - $108K (Glassdoor est.),-1.0,Tek Ninjas,"Dallas, TX",-1,-1,-1,-1,-1,-1,-1,-1
19,Data Scientist (Contract),$76K - $108K (Glassdoor est.),4.8,Audere,"Seattle, WA",-1,-1,-1,-1,-1,-1,-1,-1
20,Data Labeler - Contract,$20.00 - $25.00 Per Hour(Employer est.),4.8,EvolutionIQ,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1
21,Data Strategist,$72K - $103K (Glassdoor est.),4.2,Booz Allen Hamilton,"Bethesda, MD",-1,-1,-1,-1,-1,-1,-1,-1
22,Data Scientist,$87K - $141K (Glassdoor est.),3.9,WTW,"White Plains, NY",-1,-1,-1,-1,-1,-1,-1,-1
23,Data Scientist,$79K - $122K (Glassdoor est.),-1.0,Tek Ninjas,"Cincinnati, OH",-1,-1,-1,-1,-1,-1,-1,-1
24,Data Scientist,$60.00 - $75.00 Per Hour(Employer est.),3.5,Largeton Inc,Remote,-1,-1,-1,-1,-1,-1,-1,-1
26,Data Scientist- 295013,$89K - $126K (Glassdoor est.),4.1,Grainger,"Lake Forest, IL",-1,-1,-1,-1,-1,-1,-1,-1
27,Biomedical Data Scientist,$74K - $121K (Glassdoor est.),3.2,Retia Medical,"White Plains, NY",-1,-1,-1,-1,-1,-1,-1,-1
29,Data Scientist Apprentice,$61K - $97K (Glassdoor est.),3.9,Toyota,"Plano, TX",-1,-1,-1,-1,-1,-1,-1,-1

In [7]:
# Quitar 'Glassdoor est.'
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary

0              $29.00 Per Hour
1                $78K - $116K
2                $73K - $113K
3                $80K - $121K
4                $59K - $100K
5                $81K - $117K
7                $80K - $117K
8                $95K - $150K
10               $85K - $134K
11               $65K - $108K
12                $59K - $80K
13               $82K - $117K
14              $140K - $175K
15                $44K - $70K
16               $86K - $119K
17               $81K - $130K
18               $69K - $108K
19               $76K - $108K
20    $20.00 - $25.00 Per Hour
21               $72K - $103K
22               $87K - $141K
23               $79K - $122K
24    $60.00 - $75.00 Per Hour
26               $89K - $126K
27               $74K - $121K
29                $61K - $97K
Name: Salary Estimate, dtype: object

In [9]:
# Quitar los 'K' y signos de $ 
minusKd = salary.apply(lambda x: x.replace('K', '').replace('$',''))
minusKd

0             29.00 Per Hour
1                  78 - 116
2                  73 - 113
3                  80 - 121
4                  59 - 100
5                  81 - 117
7                  80 - 117
8                  95 - 150
10                 85 - 134
11                 65 - 108
12                  59 - 80
13                 82 - 117
14                140 - 175
15                  44 - 70
16                 86 - 119
17                 81 - 130
18                 69 - 108
19                 76 - 108
20    20.00 - 25.00 Per Hour
21                 72 - 103
22                 87 - 141
23                 79 - 122
24    60.00 - 75.00 Per Hour
26                 89 - 126
27                 74 - 121
29                  61 - 97
Name: Salary Estimate, dtype: object

In [10]:
df['Per hour salary'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Per hour salary
0,Data Scientist co op (Spring/Summer 2023),$29.00 Per Hour(Employer est.),4.2,Johnson & Johnson,"Raritan, NJ",-1,-1,-1,-1,-1,-1,-1,-1,1
1,Jr. Data Scientist,$78K - $116K (Glassdoor est.),2.9,UMortgage,Remote,-1,-1,-1,-1,-1,-1,-1,-1,0
2,Data Scientist (Level I - II),$73K - $113K (Glassdoor est.),3.6,"BEN Group, Inc","Provo, UT",-1,-1,-1,-1,-1,-1,-1,-1,0
3,Data Scientist,$80K - $121K (Glassdoor est.),3.7,Big Fish Games,"Las Vegas, NV",-1,-1,-1,-1,-1,-1,-1,-1,0
4,Data Scientist - All Levels,$59K - $100K (Glassdoor est.),4.5,Interclypse Inc,"Reston, VA",-1,-1,-1,-1,-1,-1,-1,-1,0
5,Data Scientist,$81K - $117K (Glassdoor est.),3.6,PNC Financial Services Group,"Cleveland, OH",-1,-1,-1,-1,-1,-1,-1,-1,0
7,Junior Data Scientist,$80K - $117K (Glassdoor est.),4.2,Logistics Management Institute,"Camp Lejeune, NC",-1,-1,-1,-1,-1,-1,-1,-1,0
8,Data Scientist,$95K - $150K (Employer est.),5.0,Grey Matters Defense Solutions,"Englewood, CO",-1,-1,-1,-1,-1,-1,-1,-1,0
10,"Data Scientist, University Graduate (Data Anal...",$85K - $134K (Glassdoor est.),3.6,TikTok,"Los Angeles, CA",-1,-1,-1,-1,-1,-1,-1,-1,0
11,Data Scientist Co-Op (Spring 2023),$65K - $108K (Glassdoor est.),3.9,HERSHEY MX,"Hershey, PA",-1,-1,-1,-1,-1,-1,-1,-1,0
12,Data Visualization Scientist,$59K - $80K (Glassdoor est.),3.6,Optimal Inc.,"Dearborn, MI",-1,-1,-1,-1,-1,-1,-1,-1,0
13,Machine Learning Data Scientist,$82K - $117K (Glassdoor est.),4.2,HP,"Corvallis, OR",-1,-1,-1,-1,-1,-1,-1,-1,0
14,Data Scientist,$140K - $175K (Employer est.),-1.0,Spade,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1,0
15,Forensic Scientist Data Review I (NDOT),$44K - $70K (Glassdoor est.),3.8,Abbott Laboratories,"Gretna, LA",-1,-1,-1,-1,-1,-1,-1,-1,0
16,Decision Scientist,$86K - $119K (Glassdoor est.),4.9,KUNGFU.AI,"Austin, TX",-1,-1,-1,-1,-1,-1,-1,-1,0
17,Data Scientist,$81K - $130K (Glassdoor est.),5.0,Markesman Group,"Fort Meade, MD",-1,-1,-1,-1,-1,-1,-1,-1,0
18,Jr. Data Scientist,$69K - $108K (Glassdoor est.),-1.0,Tek Ninjas,"Dallas, TX",-1,-1,-1,-1,-1,-1,-1,-1,0
19,Data Scientist (Contract),$76K - $108K (Glassdoor est.),4.8,Audere,"Seattle, WA",-1,-1,-1,-1,-1,-1,-1,-1,0
20,Data Labeler - Contract,$20.00 - $25.00 Per Hour(Employer est.),4.8,EvolutionIQ,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1,1
21,Data Strategist,$72K - $103K (Glassdoor est.),4.2,Booz Allen Hamilton,"Bethesda, MD",-1,-1,-1,-1,-1,-1,-1,-1,0
22,Data Scientist,$87K - $141K (Glassdoor est.),3.9,WTW,"White Plains, NY",-1,-1,-1,-1,-1,-1,-1,-1,0
23,Data Scientist,$79K - $122K (Glassdoor est.),-1.0,Tek Ninjas,"Cincinnati, OH",-1,-1,-1,-1,-1,-1,-1,-1,0
24,Data Scientist,$60.00 - $75.00 Per Hour(Employer est.),3.5,Largeton Inc,Remote,-1,-1,-1,-1,-1,-1,-1,-1,1
26,Data Scientist- 295013,$89K - $126K (Glassdoor est.),4.1,Grainger,"Lake Forest, IL",-1,-1,-1,-1,-1,-1,-1,-1,0
27,Biomedical Data Scientist,$74K - $121K (Glassdoor est.),3.2,Retia Medical,"White Plains, NY",-1,-1,-1,-1,-1,-1,-1,-1,0
29,Data Scientist Apprentice,$61K - $97K (Glassdoor est.),3.9,Toyota,"Plano, TX",-1,-1,-1,-1,-1,-1,-1,-1,0

In [12]:
# Quitar texto 'Per hour' de salary_estimate
min_hr = minusKd.apply(lambda x: x.lower().replace('per hour', ''))
min_hr

0             29.00
1          78 - 116
2          73 - 113
3          80 - 121
4          59 - 100
5          81 - 117
7          80 - 117
8          95 - 150
10         85 - 134
11         65 - 108
12          59 - 80
13         82 - 117
14        140 - 175
15          44 - 70
16         86 - 119
17         81 - 130
18         69 - 108
19         76 - 108
20    20.00 - 25.00
21         72 - 103
22         87 - 141
23         79 - 122
24    60.00 - 75.00
26         89 - 126
27         74 - 121
29          61 - 97
Name: Salary Estimate, dtype: object

In [26]:
# Crear columna para mínimo de salary
df['Min_salary'] = min_hr.apply(lambda x: float(x.split('-')[0]))
min_hr.values[0] = '29.00 - 29.00'
min_hr.values[0]

# Crear columna para máximo de salary
df['Max_salary'] = min_hr.apply(lambda x: float(x.split('-')[1]))
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Per hour salary,Min_salary,Max_salary
0,Data Scientist co op (Spring/Summer 2023),$29.00 Per Hour(Employer est.),4.2,Johnson & Johnson,"Raritan, NJ",-1,-1,-1,-1,-1,-1,-1,-1,1,29.0,29.0
1,Jr. Data Scientist,$78K - $116K (Glassdoor est.),2.9,UMortgage,Remote,-1,-1,-1,-1,-1,-1,-1,-1,0,78.0,116.0
2,Data Scientist (Level I - II),$73K - $113K (Glassdoor est.),3.6,"BEN Group, Inc","Provo, UT",-1,-1,-1,-1,-1,-1,-1,-1,0,73.0,113.0
3,Data Scientist,$80K - $121K (Glassdoor est.),3.7,Big Fish Games,"Las Vegas, NV",-1,-1,-1,-1,-1,-1,-1,-1,0,80.0,121.0
4,Data Scientist - All Levels,$59K - $100K (Glassdoor est.),4.5,Interclypse Inc,"Reston, VA",-1,-1,-1,-1,-1,-1,-1,-1,0,59.0,100.0
5,Data Scientist,$81K - $117K (Glassdoor est.),3.6,PNC Financial Services Group,"Cleveland, OH",-1,-1,-1,-1,-1,-1,-1,-1,0,81.0,117.0
7,Junior Data Scientist,$80K - $117K (Glassdoor est.),4.2,Logistics Management Institute,"Camp Lejeune, NC",-1,-1,-1,-1,-1,-1,-1,-1,0,80.0,117.0
8,Data Scientist,$95K - $150K (Employer est.),5.0,Grey Matters Defense Solutions,"Englewood, CO",-1,-1,-1,-1,-1,-1,-1,-1,0,95.0,150.0
10,"Data Scientist, University Graduate (Data Anal...",$85K - $134K (Glassdoor est.),3.6,TikTok,"Los Angeles, CA",-1,-1,-1,-1,-1,-1,-1,-1,0,85.0,134.0
11,Data Scientist Co-Op (Spring 2023),$65K - $108K (Glassdoor est.),3.9,HERSHEY MX,"Hershey, PA",-1,-1,-1,-1,-1,-1,-1,-1,0,65.0,108.0
12,Data Visualization Scientist,$59K - $80K (Glassdoor est.),3.6,Optimal Inc.,"Dearborn, MI",-1,-1,-1,-1,-1,-1,-1,-1,0,59.0,80.0
13,Machine Learning Data Scientist,$82K - $117K (Glassdoor est.),4.2,HP,"Corvallis, OR",-1,-1,-1,-1,-1,-1,-1,-1,0,82.0,117.0
14,Data Scientist,$140K - $175K (Employer est.),-1.0,Spade,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1,0,140.0,175.0
15,Forensic Scientist Data Review I (NDOT),$44K - $70K (Glassdoor est.),3.8,Abbott Laboratories,"Gretna, LA",-1,-1,-1,-1,-1,-1,-1,-1,0,44.0,70.0
16,Decision Scientist,$86K - $119K (Glassdoor est.),4.9,KUNGFU.AI,"Austin, TX",-1,-1,-1,-1,-1,-1,-1,-1,0,86.0,119.0
17,Data Scientist,$81K - $130K (Glassdoor est.),5.0,Markesman Group,"Fort Meade, MD",-1,-1,-1,-1,-1,-1,-1,-1,0,81.0,130.0
18,Jr. Data Scientist,$69K - $108K (Glassdoor est.),-1.0,Tek Ninjas,"Dallas, TX",-1,-1,-1,-1,-1,-1,-1,-1,0,69.0,108.0
19,Data Scientist (Contract),$76K - $108K (Glassdoor est.),4.8,Audere,"Seattle, WA",-1,-1,-1,-1,-1,-1,-1,-1,0,76.0,108.0
20,Data Labeler - Contract,$20.00 - $25.00 Per Hour(Employer est.),4.8,EvolutionIQ,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1,1,20.0,25.0
21,Data Strategist,$72K - $103K (Glassdoor est.),4.2,Booz Allen Hamilton,"Bethesda, MD",-1,-1,-1,-1,-1,-1,-1,-1,0,72.0,103.0
22,Data Scientist,$87K - $141K (Glassdoor est.),3.9,WTW,"White Plains, NY",-1,-1,-1,-1,-1,-1,-1,-1,0,87.0,141.0
23,Data Scientist,$79K - $122K (Glassdoor est.),-1.0,Tek Ninjas,"Cincinnati, OH",-1,-1,-1,-1,-1,-1,-1,-1,0,79.0,122.0
24,Data Scientist,$60.00 - $75.00 Per Hour(Employer est.),3.5,Largeton Inc,Remote,-1,-1,-1,-1,-1,-1,-1,-1,1,60.0,75.0
26,Data Scientist- 295013,$89K - $126K (Glassdoor est.),4.1,Grainger,"Lake Forest, IL",-1,-1,-1,-1,-1,-1,-1,-1,0,89.0,126.0
27,Biomedical Data Scientist,$74K - $121K (Glassdoor est.),3.2,Retia Medical,"White Plains, NY",-1,-1,-1,-1,-1,-1,-1,-1,0,74.0,121.0
29,Data Scientist Apprentice,$61K - $97K (Glassdoor est.),3.9,Toyota,"Plano, TX",-1,-1,-1,-1,-1,-1,-1,-1,0,61.0,97.0

In [28]:
# Crear columna para el promedio de salario
df['Avg Salary'] = (df['Min_salary'] + df['Max_salary']) / 2
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Per hour salary,Min_salary,Max_salary,Avg Salary
0,Data Scientist co op (Spring/Summer 2023),$29.00 Per Hour(Employer est.),4.2,Johnson & Johnson,"Raritan, NJ",-1,-1,-1,-1,-1,-1,-1,-1,1,29.0,29.0,29.0
1,Jr. Data Scientist,$78K - $116K (Glassdoor est.),2.9,UMortgage,Remote,-1,-1,-1,-1,-1,-1,-1,-1,0,78.0,116.0,97.0
2,Data Scientist (Level I - II),$73K - $113K (Glassdoor est.),3.6,"BEN Group, Inc","Provo, UT",-1,-1,-1,-1,-1,-1,-1,-1,0,73.0,113.0,93.0
3,Data Scientist,$80K - $121K (Glassdoor est.),3.7,Big Fish Games,"Las Vegas, NV",-1,-1,-1,-1,-1,-1,-1,-1,0,80.0,121.0,100.5
4,Data Scientist - All Levels,$59K - $100K (Glassdoor est.),4.5,Interclypse Inc,"Reston, VA",-1,-1,-1,-1,-1,-1,-1,-1,0,59.0,100.0,79.5
5,Data Scientist,$81K - $117K (Glassdoor est.),3.6,PNC Financial Services Group,"Cleveland, OH",-1,-1,-1,-1,-1,-1,-1,-1,0,81.0,117.0,99.0
7,Junior Data Scientist,$80K - $117K (Glassdoor est.),4.2,Logistics Management Institute,"Camp Lejeune, NC",-1,-1,-1,-1,-1,-1,-1,-1,0,80.0,117.0,98.5
8,Data Scientist,$95K - $150K (Employer est.),5.0,Grey Matters Defense Solutions,"Englewood, CO",-1,-1,-1,-1,-1,-1,-1,-1,0,95.0,150.0,122.5
10,"Data Scientist, University Graduate (Data Anal...",$85K - $134K (Glassdoor est.),3.6,TikTok,"Los Angeles, CA",-1,-1,-1,-1,-1,-1,-1,-1,0,85.0,134.0,109.5
11,Data Scientist Co-Op (Spring 2023),$65K - $108K (Glassdoor est.),3.9,HERSHEY MX,"Hershey, PA",-1,-1,-1,-1,-1,-1,-1,-1,0,65.0,108.0,86.5
12,Data Visualization Scientist,$59K - $80K (Glassdoor est.),3.6,Optimal Inc.,"Dearborn, MI",-1,-1,-1,-1,-1,-1,-1,-1,0,59.0,80.0,69.5
13,Machine Learning Data Scientist,$82K - $117K (Glassdoor est.),4.2,HP,"Corvallis, OR",-1,-1,-1,-1,-1,-1,-1,-1,0,82.0,117.0,99.5
14,Data Scientist,$140K - $175K (Employer est.),-1.0,Spade,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1,0,140.0,175.0,157.5
15,Forensic Scientist Data Review I (NDOT),$44K - $70K (Glassdoor est.),3.8,Abbott Laboratories,"Gretna, LA",-1,-1,-1,-1,-1,-1,-1,-1,0,44.0,70.0,57.0
16,Decision Scientist,$86K - $119K (Glassdoor est.),4.9,KUNGFU.AI,"Austin, TX",-1,-1,-1,-1,-1,-1,-1,-1,0,86.0,119.0,102.5
17,Data Scientist,$81K - $130K (Glassdoor est.),5.0,Markesman Group,"Fort Meade, MD",-1,-1,-1,-1,-1,-1,-1,-1,0,81.0,130.0,105.5
18,Jr. Data Scientist,$69K - $108K (Glassdoor est.),-1.0,Tek Ninjas,"Dallas, TX",-1,-1,-1,-1,-1,-1,-1,-1,0,69.0,108.0,88.5
19,Data Scientist (Contract),$76K - $108K (Glassdoor est.),4.8,Audere,"Seattle, WA",-1,-1,-1,-1,-1,-1,-1,-1,0,76.0,108.0,92.0
20,Data Labeler - Contract,$20.00 - $25.00 Per Hour(Employer est.),4.8,EvolutionIQ,"New York, NY",-1,-1,-1,-1,-1,-1,-1,-1,1,20.0,25.0,22.5
21,Data Strategist,$72K - $103K (Glassdoor est.),4.2,Booz Allen Hamilton,"Bethesda, MD",-1,-1,-1,-1,-1,-1,-1,-1,0,72.0,103.0,87.5
22,Data Scientist,$87K - $141K (Glassdoor est.),3.9,WTW,"White Plains, NY",-1,-1,-1,-1,-1,-1,-1,-1,0,87.0,141.0,114.0
23,Data Scientist,$79K - $122K (Glassdoor est.),-1.0,Tek Ninjas,"Cincinnati, OH",-1,-1,-1,-1,-1,-1,-1,-1,0,79.0,122.0,100.5
24,Data Scientist,$60.00 - $75.00 Per Hour(Employer est.),3.5,Largeton Inc,Remote,-1,-1,-1,-1,-1,-1,-1,-1,1,60.0,75.0,67.5
26,Data Scientist- 295013,$89K - $126K (Glassdoor est.),4.1,Grainger,"Lake Forest, IL",-1,-1,-1,-1,-1,-1,-1,-1,0,89.0,126.0,107.5
27,Biomedical Data Scientist,$74K - $121K (Glassdoor est.),3.2,Retia Medical,"White Plains, NY",-1,-1,-1,-1,-1,-1,-1,-1,0,74.0,121.0,97.5
29,Data Scientist Apprentice,$61K - $97K (Glassdoor est.),3.9,Toyota,"Plano, TX",-1,-1,-1,-1,-1,-1,-1,-1,0,61.0,97.0,79.0

In [49]:
# Separar state en un campo distinto

df.Location = df.Location.apply(lambda x: 'Remote,Remote' if x == 'Remote' else x)
df['State'] = df['Location'].apply(lambda x: x.split(',')[1])
df.Location = df.Location.apply(lambda x: x.split(',')[0])
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Per hour salary,Min_salary,Max_salary,Avg Salary,State
0,Data Scientist co op (Spring/Summer 2023),$29.00 Per Hour(Employer est.),4.2,Johnson & Johnson,Raritan,-1,-1,-1,-1,-1,-1,-1,-1,1,29.0,29.0,29.0,NJ
1,Jr. Data Scientist,$78K - $116K (Glassdoor est.),2.9,UMortgage,Remote,-1,-1,-1,-1,-1,-1,-1,-1,0,78.0,116.0,97.0,Remote
2,Data Scientist (Level I - II),$73K - $113K (Glassdoor est.),3.6,"BEN Group, Inc",Provo,-1,-1,-1,-1,-1,-1,-1,-1,0,73.0,113.0,93.0,UT
3,Data Scientist,$80K - $121K (Glassdoor est.),3.7,Big Fish Games,Las Vegas,-1,-1,-1,-1,-1,-1,-1,-1,0,80.0,121.0,100.5,NV
4,Data Scientist - All Levels,$59K - $100K (Glassdoor est.),4.5,Interclypse Inc,Reston,-1,-1,-1,-1,-1,-1,-1,-1,0,59.0,100.0,79.5,VA
5,Data Scientist,$81K - $117K (Glassdoor est.),3.6,PNC Financial Services Group,Cleveland,-1,-1,-1,-1,-1,-1,-1,-1,0,81.0,117.0,99.0,OH
7,Junior Data Scientist,$80K - $117K (Glassdoor est.),4.2,Logistics Management Institute,Camp Lejeune,-1,-1,-1,-1,-1,-1,-1,-1,0,80.0,117.0,98.5,NC
8,Data Scientist,$95K - $150K (Employer est.),5.0,Grey Matters Defense Solutions,Englewood,-1,-1,-1,-1,-1,-1,-1,-1,0,95.0,150.0,122.5,CO
10,"Data Scientist, University Graduate (Data Anal...",$85K - $134K (Glassdoor est.),3.6,TikTok,Los Angeles,-1,-1,-1,-1,-1,-1,-1,-1,0,85.0,134.0,109.5,CA
11,Data Scientist Co-Op (Spring 2023),$65K - $108K (Glassdoor est.),3.9,HERSHEY MX,Hershey,-1,-1,-1,-1,-1,-1,-1,-1,0,65.0,108.0,86.5,PA
12,Data Visualization Scientist,$59K - $80K (Glassdoor est.),3.6,Optimal Inc.,Dearborn,-1,-1,-1,-1,-1,-1,-1,-1,0,59.0,80.0,69.5,MI
13,Machine Learning Data Scientist,$82K - $117K (Glassdoor est.),4.2,HP,Corvallis,-1,-1,-1,-1,-1,-1,-1,-1,0,82.0,117.0,99.5,OR
14,Data Scientist,$140K - $175K (Employer est.),-1.0,Spade,New York,-1,-1,-1,-1,-1,-1,-1,-1,0,140.0,175.0,157.5,NY
15,Forensic Scientist Data Review I (NDOT),$44K - $70K (Glassdoor est.),3.8,Abbott Laboratories,Gretna,-1,-1,-1,-1,-1,-1,-1,-1,0,44.0,70.0,57.0,LA
16,Decision Scientist,$86K - $119K (Glassdoor est.),4.9,KUNGFU.AI,Austin,-1,-1,-1,-1,-1,-1,-1,-1,0,86.0,119.0,102.5,TX
17,Data Scientist,$81K - $130K (Glassdoor est.),5.0,Markesman Group,Fort Meade,-1,-1,-1,-1,-1,-1,-1,-1,0,81.0,130.0,105.5,MD
18,Jr. Data Scientist,$69K - $108K (Glassdoor est.),-1.0,Tek Ninjas,Dallas,-1,-1,-1,-1,-1,-1,-1,-1,0,69.0,108.0,88.5,TX
19,Data Scientist (Contract),$76K - $108K (Glassdoor est.),4.8,Audere,Seattle,-1,-1,-1,-1,-1,-1,-1,-1,0,76.0,108.0,92.0,WA
20,Data Labeler - Contract,$20.00 - $25.00 Per Hour(Employer est.),4.8,EvolutionIQ,New York,-1,-1,-1,-1,-1,-1,-1,-1,1,20.0,25.0,22.5,NY
21,Data Strategist,$72K - $103K (Glassdoor est.),4.2,Booz Allen Hamilton,Bethesda,-1,-1,-1,-1,-1,-1,-1,-1,0,72.0,103.0,87.5,MD
22,Data Scientist,$87K - $141K (Glassdoor est.),3.9,WTW,White Plains,-1,-1,-1,-1,-1,-1,-1,-1,0,87.0,141.0,114.0,NY
23,Data Scientist,$79K - $122K (Glassdoor est.),-1.0,Tek Ninjas,Cincinnati,-1,-1,-1,-1,-1,-1,-1,-1,0,79.0,122.0,100.5,OH
24,Data Scientist,$60.00 - $75.00 Per Hour(Employer est.),3.5,Largeton Inc,Remote,-1,-1,-1,-1,-1,-1,-1,-1,1,60.0,75.0,67.5,Remote
26,Data Scientist- 295013,$89K - $126K (Glassdoor est.),4.1,Grainger,Lake Forest,-1,-1,-1,-1,-1,-1,-1,-1,0,89.0,126.0,107.5,IL
27,Biomedical Data Scientist,$74K - $121K (Glassdoor est.),3.2,Retia Medical,White Plains,-1,-1,-1,-1,-1,-1,-1,-1,0,74.0,121.0,97.5,NY
29,Data Scientist Apprentice,$61K - $97K (Glassdoor est.),3.9,Toyota,Plano,-1,-1,-1,-1,-1,-1,-1,-1,0,61.0,97.0,79.0,TX

In [50]:
fifth_column = df.pop('State')
df.insert(5,'State', fifth_column)
df

,Job Title,Salary Estimate,Rating,Company Name,Location,State,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Per hour salary,Min_salary,Max_salary,Avg Salary
0,Data Scientist co op (Spring/Summer 2023),$29.00 Per Hour(Employer est.),4.2,Johnson & Johnson,Raritan,NJ,-1,-1,-1,-1,-1,-1,-1,-1,1,29.0,29.0,29.0
1,Jr. Data Scientist,$78K - $116K (Glassdoor est.),2.9,UMortgage,Remote,Remote,-1,-1,-1,-1,-1,-1,-1,-1,0,78.0,116.0,97.0
2,Data Scientist (Level I - II),$73K - $113K (Glassdoor est.),3.6,"BEN Group, Inc",Provo,UT,-1,-1,-1,-1,-1,-1,-1,-1,0,73.0,113.0,93.0
3,Data Scientist,$80K - $121K (Glassdoor est.),3.7,Big Fish Games,Las Vegas,NV,-1,-1,-1,-1,-1,-1,-1,-1,0,80.0,121.0,100.5
4,Data Scientist - All Levels,$59K - $100K (Glassdoor est.),4.5,Interclypse Inc,Reston,VA,-1,-1,-1,-1,-1,-1,-1,-1,0,59.0,100.0,79.5
5,Data Scientist,$81K - $117K (Glassdoor est.),3.6,PNC Financial Services Group,Cleveland,OH,-1,-1,-1,-1,-1,-1,-1,-1,0,81.0,117.0,99.0
7,Junior Data Scientist,$80K - $117K (Glassdoor est.),4.2,Logistics Management Institute,Camp Lejeune,NC,-1,-1,-1,-1,-1,-1,-1,-1,0,80.0,117.0,98.5
8,Data Scientist,$95K - $150K (Employer est.),5.0,Grey Matters Defense Solutions,Englewood,CO,-1,-1,-1,-1,-1,-1,-1,-1,0,95.0,150.0,122.5
10,"Data Scientist, University Graduate (Data Anal...",$85K - $134K (Glassdoor est.),3.6,TikTok,Los Angeles,CA,-1,-1,-1,-1,-1,-1,-1,-1,0,85.0,134.0,109.5
11,Data Scientist Co-Op (Spring 2023),$65K - $108K (Glassdoor est.),3.9,HERSHEY MX,Hershey,PA,-1,-1,-1,-1,-1,-1,-1,-1,0,65.0,108.0,86.5
12,Data Visualization Scientist,$59K - $80K (Glassdoor est.),3.6,Optimal Inc.,Dearborn,MI,-1,-1,-1,-1,-1,-1,-1,-1,0,59.0,80.0,69.5
13,Machine Learning Data Scientist,$82K - $117K (Glassdoor est.),4.2,HP,Corvallis,OR,-1,-1,-1,-1,-1,-1,-1,-1,0,82.0,117.0,99.5
14,Data Scientist,$140K - $175K (Employer est.),-1.0,Spade,New York,NY,-1,-1,-1,-1,-1,-1,-1,-1,0,140.0,175.0,157.5
15,Forensic Scientist Data Review I (NDOT),$44K - $70K (Glassdoor est.),3.8,Abbott Laboratories,Gretna,LA,-1,-1,-1,-1,-1,-1,-1,-1,0,44.0,70.0,57.0
16,Decision Scientist,$86K - $119K (Glassdoor est.),4.9,KUNGFU.AI,Austin,TX,-1,-1,-1,-1,-1,-1,-1,-1,0,86.0,119.0,102.5
17,Data Scientist,$81K - $130K (Glassdoor est.),5.0,Markesman Group,Fort Meade,MD,-1,-1,-1,-1,-1,-1,-1,-1,0,81.0,130.0,105.5
18,Jr. Data Scientist,$69K - $108K (Glassdoor est.),-1.0,Tek Ninjas,Dallas,TX,-1,-1,-1,-1,-1,-1,-1,-1,0,69.0,108.0,88.5
19,Data Scientist (Contract),$76K - $108K (Glassdoor est.),4.8,Audere,Seattle,WA,-1,-1,-1,-1,-1,-1,-1,-1,0,76.0,108.0,92.0
20,Data Labeler - Contract,$20.00 - $25.00 Per Hour(Employer est.),4.8,EvolutionIQ,New York,NY,-1,-1,-1,-1,-1,-1,-1,-1,1,20.0,25.0,22.5
21,Data Strategist,$72K - $103K (Glassdoor est.),4.2,Booz Allen Hamilton,Bethesda,MD,-1,-1,-1,-1,-1,-1,-1,-1,0,72.0,103.0,87.5
22,Data Scientist,$87K - $141K (Glassdoor est.),3.9,WTW,White Plains,NY,-1,-1,-1,-1,-1,-1,-1,-1,0,87.0,141.0,114.0
23,Data Scientist,$79K - $122K (Glassdoor est.),-1.0,Tek Ninjas,Cincinnati,OH,-1,-1,-1,-1,-1,-1,-1,-1,0,79.0,122.0,100.5
24,Data Scientist,$60.00 - $75.00 Per Hour(Employer est.),3.5,Largeton Inc,Remote,Remote,-1,-1,-1,-1,-1,-1,-1,-1,1,60.0,75.0,67.5
26,Data Scientist- 295013,$89K - $126K (Glassdoor est.),4.1,Grainger,Lake Forest,IL,-1,-1,-1,-1,-1,-1,-1,-1,0,89.0,126.0,107.5
27,Biomedical Data Scientist,$74K - $121K (Glassdoor est.),3.2,Retia Medical,White Plains,NY,-1,-1,-1,-1,-1,-1,-1,-1,0,74.0,121.0,97.5
29,Data Scientist Apprentice,$61K - $97K (Glassdoor est.),3.9,Toyota,Plano,TX,-1,-1,-1,-1,-1,-1,-1,-1,0,61.0,97.0,79.0

In [51]:
#Contar cantidad de jobs para cada state
df.State.value_counts()

 NY       4
 TX       3
 MD       2
 OH       2
Remote    2
 NJ       1
 MI       1
 WA       1
 LA       1
 OR       1
 PA       1
 CA       1
 CO       1
 NC       1
 VA       1
 NV       1
 UT       1
 IL       1
Name: State, dtype: int64

In [52]:
df.to_csv('salary_clean.csv', index=False)